/******************************************

UTILITY

*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/******************************************

DEBUG

*******************************************/

.footer-player-container{
    border: 1px solid white;
}

/******************************************

XS MOBILE FIRST (UP TO 320PX WIDTH)

*******************************************/

/******************************************

viewport layout - xs mobile

*******************************************/

.viewport{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.sidebar-top-main-container{
    flex-grow: 1;
    display: flex;
}

.sidebar{
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-container{
    background-color: #080b12;
    color: gray;
}

.main-container{
    flex-grow: 1;
    background-color: #141922;
    color: gray;
}

.footer-player-container{
    background-color: #282828;
    color: gray;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.xs-display-none{
    display: none;
}

/******************************************

sidebar - xs mobile

*******************************************/

.sidebar-upper-container > *{  
    padding: 0.2rem;
}

.home-search-library > *{
    margin-top: 0.5rem;

}

.sidebar-bottom-container{
    padding: 0.2rem;
    padding-bottom: 4rem; /* !!!! qual'è il modo migliore per distanziarlo dal player fixato? */
}

/* sistemare padding bottom appena il player è finito */

.install-app{
    margin-bottom: 0.4rem;
}




/******************************************

M MOBILE QUERY

*******************************************/

@media screen and (min-width: 321px) {

    .xs-display-none{
        display: inline-block;
    }

    .xs-display-only{
        display: none;
    }

    .sidebar-upper-container{
        display: flex;
        flex-direction: column;
    }

    .sidebar-upper-container > *{  
        padding: 0.5rem;
    }
    
    .playlists{
        flex-grow: 1;

    }

    .playlists > *{
        margin-top: 0.5rem;
    }

    .sidebar-playlist-list li{  /* !! verificare se margin top tra lista playlist e crea playlist aumenta con icona */
        margin-top: 0.5rem;
    }


    .sidebar-bottom-container{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    .install-app{
        margin-bottom: 0;
    }

    .divider{
        background-color: gray;
        height: 1px;
        width: 150px;
        margin: 0.5rem 0;
    }


}

/******************************************

header - mobile

*******************************************/

/******************************************

IPAD QUERY

*******************************************/

@media screen and (min-width: 426px) {


.xs-display-only{
    display: none;
}

/******************************************
    
    header ipad
    
*******************************************/

}

/******************************************

DESKTOP QUERY

*******************************************/

@media screen and (min-width: 769px) {



}