
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}



/******************************************
XS MOBILE FIRST (UP TO 320PX WIDTH)
*******************************************/

/******************************************
viewport layout - xs mobile
*******************************************/

.viewport{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar-top-main-container{
    flex-grow: 1;
    display: flex;
    max-height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: gray;
    z-index: 1;
}

.top-main-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-container{
    width: 100%;
    background-color: rgb(8, 11, 18);
    color: gray;
}

.main-container{
    max-height: 100vh;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #141922;
    color: white;
    overflow: auto;
}

.footer-player-container{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #282828;
    color: gray;
    z-index: 2;
}

.xs-display-none{
    display: none;
}


/******************************************
sidebar
*******************************************/

.sidebar{
    text-align: center;
    font-size: 1.5rem;
    height: 100%;
    position: relative;
    max-width: min-content;
    padding-bottom: 68px;
}

.sidebar-upper-container{
    margin-top: 0.5rem;
}

.sidebar-upper-container > *{  
    padding: 0.2rem;
}

.sidebar-upper-container img{
    width: 1.5rem;
}

#big-logo{
    width: 80%;
}

.sidebar-bottom-container img{
    width: 60%;
}

.home-search-library > *{
    margin-top: 0.5rem;
}

.sidebar-bottom-container{
    padding: 0.2rem;
 /* !!!! qual'è il modo migliore per distanziarlo dal player fixato? */
}
/* sistemare padding bottom appena il player è finito */

.install-app{
    margin-bottom: 0.4rem;
}

/******************************************
top container
*******************************************/

.top-container{
    text-align: right;
    width: calc(100vw - 30.375px);
    height: 64px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
}

.upgrade-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    background-color: #080b12;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    color: gray;
}

/******************************************
main container
*******************************************/

.main-container{
  font-size: 0.6rem;
  padding: 5rem 0;
  padding-bottom: 68px;
}

.main-container-95{
  width: 95%;
  margin: auto;
}

.main-container-95 > *{
  margin-top: 1.5rem;
}

.main-nav-container{
  width: 100%;
  margin: auto;
  max-width: 615px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  color: gray;
}

.main-nav-element{
  width: calc(100% / 3);
  padding: 0.5rem 0;
  position: relative;
}

.main-nav-element::before{
  content: "";
  position: absolute;
  background-color: green;
  height: 2px;
  bottom:15%;
  left: calc(50% - 15px);
  width: 50%;
  max-width: 30px;
}
   
.album-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album-card{
  width: 45%;
  text-align: center;
}

.album-card img{
  margin: 0.8rem 0 0.2rem 0;
}

.album-card .album-subtitle{
  margin-top: 0.2rem;
  color: gray;
}

.album-image,
.artist-image{
    width: 100%;
}

.artist-image{
  border-radius: 50%;
}

/******************************************
footer - player
*******************************************/

.footer-player-container{
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  color: gray;
  height: 64px;
}

.player-left{
  width: 28%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  max-width: 215px;
}

.player-image-container{
  width: 30%;
  margin-left: 0.2rem;
}

.player-image{
  width: 100%;
  max-width: 64px;
  vertical-align: middle;
  max-height: 64px;
}

.title-artist{
  width: 50%;
  margin-left: 0.2rem;
}

.title-artist h5{
    color: white;
}

.favorite-add{
  width: 10%;
  font-size: 0.8rem;
}

.player-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
  padding: 0.5rem 0;

  
}

.player-buttons{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;

  max-width: 200px;
}

.play{
  font-size: 1.4rem;
  vertical-align: middle;
  width: 20%;
  text-align: center;
}


.player-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bar{
  height: 5px;
  border-radius: 2rem;
  background-color: gray;
  flex-grow: 1;
}

.progress-bar{
  background-color: white;
  height: 5px;
  border-radius: 2rem;
  width: 5%;
  animation: grow-to-100 60s linear infinite;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

@keyframes grow-to-100{
   
  100%{
      width: 100%;
  }

}
  
.progress-cursor{
  font-size: 1rem;
}


.time-from-start,
.time-to-end{
  margin: 0 0.2rem;
}

.time-to-end{
  text-align: end;
}

.player-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28%;

  max-width: 215px;
}

.volume-bar{
  height: 5px;
  border-radius: 2rem;
  width: 50%;
  background-color: gray;
}

.progressive-volume-bar{
  background-color: white;
  height: 5px;
  border-radius: 2rem;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.progress-cursor-volume{
    font-size: 1rem;
  }

/******************************************
hovers
*******************************************/

.hover-only{
    display: none;
}

.hover-whitening:hover{
    color: white;
    text-shadow:  white;
}

.upgrade-btn:hover{
  padding: 0.8rem 2.2rem;
}

.progress-bar:hover{
    background-color: green;
    color: white;
}

.progress-bar:hover .progress-cursor{
    display: block;
}

.bar:hover .progress-bar{
    background-color: green;
    color: white;
}

.bar:hover .progress-cursor{
    display: block;
}

.progressive-volume-bar:hover{
    background-color: green;
    color: white;
}

.progressive-volume-bar:hover .progress-cursor-volume{
    display: block;
}

.volume-bar:hover .progressive-volume-bar{
    background-color: green;
    color: white;
}

.volume-bar:hover .progress-cursor-volume{
    display: block;
}




/******************************************
MEDIUM-LARGE MOBILE QUERY
*******************************************/

@media screen and (min-width: 321px) {


    .xs-display-none{
        display: inline-block;
    }

    .xs-display-only{
        display: none;
    }

    .sidebar{
        text-align: left;
        font-size: 0.6rem;
    }

    .sidebar-upper-container{
        display: flex;
        flex-direction: column;
    }

    .sidebar-upper-container > *{  
        padding: 0.5rem;
    }

    /* idee migliori per allineare icone a testo? */

    .sidebar-upper-container img{
        width: 20%;
        vertical-align: middle;
    }

    .home,
    .search,
    .library{
        vertical-align: middle;
        width: 100%;
        position: relative;
    }

    .sidebar-nav-element{
        position: absolute;
        top: 20%;
        left: 26%;
    }
    
    .sidebar-bottom-container img{
        width: 20%;
        vertical-align: middle;
    }
    
    .playlists{
        flex-grow: 1;

    }

    .playlists > *{
        margin-top: 0.5rem;
    }

    .playlists h4{
        color: white;
    }

    .sidebar-playlist-list li{  /* !! verificare se margin top tra lista playlist e crea playlist aumenta con icona */
        margin-top: 0.5rem;
    }


    .sidebar-bottom-container{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.5rem 0; /* !!!! qual'è il modo migliore per distanziarlo dal player fixato? */
    }
    /* !! sistemare padding bottom appena il player è finito */

    .install-app{
        margin-bottom: 0;
    }

    .divider{
        background-color: gray;
        height: 1px;
        width: 100px;
        margin: 0.5rem 0;
    }

    .top-container{
      width: calc(100vw - 116px);
  }




}

/******************************************
IPAD QUERY
*******************************************/

@media screen and (min-width: 426px) {


    .xs-display-only{
        display: none;
    }

    .album-container{
        justify-content: flex-start;
    }

    .main-container h2{
        margin-left: calc(5% / 4);
    }

    .album-card{
        width: calc(90% / 4);
        margin-right: calc(5% / 4);
        margin-left: calc(5% / 4);
    }


}   

/******************************************
DESKTOP QUERY
*******************************************/

@media screen and (min-width: 769px) {

    .main-container h2{
        margin-left: calc(5% / 6);
    }

    .album-card{
        width: calc(90% / 6);
        margin-right: calc(5% / 6);
        margin-left: calc(5% / 6);
    }

}